<ion-header>
		<ion-buttons slot="start">
      <ion-back-button icon="return-left"></ion-back-button>
    <ion-icon size="large" [routerLink]="['/menu']" name="home">Inicio</ion-icon>
    </ion-buttons>
  <ion-toolbar>
    <ion-title>avistamientoagregar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<form #form="ngForm" (ngSubmit)="agregarAvistamiento(form)" novalidate>
      <ion-item>
        <ion-label>Lugar</ion-label>
        <ion-input type="text"  [(ngModel)]="form.place" name="place"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Latitud</ion-label>
        <ion-input type="text"  [(ngModel)]="form.lat" name="lat"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Longitud</ion-label>
        <ion-input type="text"  [(ngModel)]="form.long" name="long"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Agregar</button>
    </form>
</ion-content>
