<ion-header>
		<ion-buttons slot="start">
      <ion-back-button icon="return-left"></ion-back-button>
    <ion-icon size="large" [routerLink]="['/menu']" name="home">Inicio</ion-icon>
    </ion-buttons>
  <ion-toolbar>
    <ion-title>LISTADO DE AVES </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-list>
 	<div *ngFor="let birds of listadoPajaros">
 		

	<ion-item >		
		<ion-img  style="width: 80px; height: 80px;" src="{{birds.bird_image}}"></ion-img> <br>
		 <ion-label>
               <ion-button expand="full"  (click)="onDetail(birds.id)" > {{birds.id}}{{birds.bird_name}}</ion-button> (visto {{birds.bird_sightings}} veces) {{birds.mine}}
               	
              </ion-label>
	</ion-item>
 	</div>

 </ion-list>
</ion-content>