<ion-header>
  	 <ion-buttons slot="start">
      <ion-back-button icon="return-left"></ion-back-button>
  	<ion-icon size="large" [routerLink]="['/menu']" name="home">Inicio</ion-icon>
    </ion-buttons>
  <ion-toolbar>

    <ion-title>{{pajaro.bird_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-img  style="width: 500px; height: 500px;" src="{{pajaro.bird_image}}"></ion-img> <br>
		 <ion-label>
               (visto {{pajaro.bird_sightings}} veces)
              </ion-label> <br>
         	Descripción:
         		{{pajaro.bird_description}}	<br>
         <ion-content>

		<ion-button expand="full" (click)="onAvistamiento(pajaro.id)">Añadir avistamiento</ion-button> <br>
		<div *ngFor="let avistamiento of pajaro.sightings_list">
 			Visto en:	{{avistamiento.place}} Coordenadas:{{avistamiento.lat}} /{{avistamiento.long}}
 		</div>
		</ion-content>         	
</ion-content>
