<ion-header>
  <ion-toolbar>
    <ion-title>
      {{Title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/birds.png"></ion-img>
      <ion-card-header>
        Login
      </ion-card-header>
      <ion-card-content>
         
     <form #form="ngForm" (ngSubmit)="postProfile(form)" novalidate>
      <ion-item>
        <ion-label>User</ion-label>
        <ion-input type="text"  [(ngModel)]="form.user" name="user"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password"  [(ngModel)]="form.pass" name="password"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Login</button>{{loginstatus}}
    </form>
    {{appPages}}
      </ion-card-content>
    
    
    </ion-card>
    
</ion-content>
<script type="text/javascript">


</script>